# Analizando un grupo de datos con K-means

### Importando librerías:

In [2]:
import pandas as pd
from sklearn.cluster import KMeans
print("Librerías descargadas!!")

Librerías descargadas!!

### Importando tabla:

In [12]:
dataset = pd.read_csv('./in/titanic.csv')
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### Limpiando la tabla:

In [13]:
dataset = dataset.drop('Embarked', 'columns')
dataset = dataset.drop('Ticket', 'columns')
dataset = dataset.drop('Cabin', 'columns')
dataset

C:\Users\rodri\AppData\Local\Temp/ipykernel_2220/838869308.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dataset = dataset.drop('Embarked', 'columns')
C:\Users\rodri\AppData\Local\Temp/ipykernel_2220/838869308.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dataset = dataset.drop('Ticket', 'columns')
C:\Users\rodri\AppData\Local\Temp/ipykernel_2220/838869308.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dataset = dataset.drop('Cabin', 'columns')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500

### Tirando filas con datos no numericos para la columna "Age":

In [14]:
dataset = dataset.dropna()
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,29.1250
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500

### Transformando valorés de géneros a numéricos, donde 0 es mujer y 1 hombre:

In [15]:
dataset['Sex'] = (dataset['Sex'] == 'male').astype(int)
dataset

C:\Users\rodri\AppData\Local\Temp/ipykernel_2220/557924336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Sex'] = (dataset['Sex'] == 'male').astype(int)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,53.1000
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.0,0,5,29.1250
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,30.0000
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,30.0000
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,7.7500

In [17]:
x = dataset.drop(['Name'], axis=1 )
kmeans = KMeans(n_clusters=3, random_state=1).fit(x) #Usar n_clusters para el númer de grupos deseados, random_state se define con cualquier número para asegurar los mismos resultados
print('='*64) #Esta línea es solo para estética de impresión en terminal
print('Total de grupos:', len(kmeans.cluster_centers_))
print('='*64)
dataset['grupo'] = kmeans.predict(x) #Nombre de la nueva columna donde pondremos nuestra predicción de algoritmo
dataset.to_csv('./out/groups.csv', index=False, header=True) #Creación de archivo en carpeta destino

grouped_df = dataset.groupby(['grupo']) 

for key, group in grouped_df:  #Muestra cada grupo
    print(grouped_df.get_group(key), "\n\n", '='*180)  

print('Archivo creado con éxito en la carpeta "out".')

================================================================
Total de grupos: 3
================================================================
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
291          292         1       1
292          293         0       2
293          294         0       3
294          295         0       3
296          297         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    1  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1
2                               Heikkinen, Miss. Laina    0  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1
4                             Allen, Mr. William Henry    1  35.0      0
..                                                 ...  ...   ...    ...
291            Bishop, Mrs. Dickinson H (Helen Walton)    0  19.0      1
292                             Levy, Mr. Rene Jacques    1  36.0      0
293                                Haas, Miss. Aloisia    0  24.0      0
294                                   Mineff, Mr. Ivan    1  24.0      0
296                                 Hanna, Mr. Mansour    1  23.5      0

     Parch     Fare  grupo
0        0   7.2500      0
1        0  71.2833      0
2        0   7.9250      0
3        0  53.1000      0
4        0   8.0500      0
..     ...      ...    ...
291      0  91.0792      0
292      0  12.8750      0
293      0   8.8500      0
294      0   7.8958      0
296      0   7.2292      0

[240 rows x 10 columns]

 ====================================================================================================================================================================================
     PassengerId  Survived  Pclass  \
297          298         0       1
299          300         1       1
302          303         0       3
305          306         1       1
307          308         1       1
..           ...       ...     ...
587          588         1       1
588          589         0       3
590          591         0       3
591          592         1       1
592          593         0       3

                                                  Name  Sex    Age  SibSp  \
297                       Allison, Miss. Helen Loraine    0   2.00      1
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)    0  50.00      0
302                    Johnson, Mr. William Cahoone Jr    1  19.00      0
305                     Allison, Master. Hudson Trevor    1   0.92      1
307  Penasco y Castellana, Mrs. Victor de Satode (M...    0  17.00      1
..                                                 ...  ...    ...    ...
587                   Frolicher-Stehli, Mr. Maxmillian    1  60.00      1
588                              Gilinski, Mr. Eliezer    1  22.00      0
590                               Rintamaki, Mr. Matti    1  35.00      0
591    Stephenson, Mrs. Walter Bertram (Martha Eustis)    0  52.00      1
592                         Elsbury, Mr. William James    1  47.00      0

     Parch      Fare  grupo
297      2  151.5500      1
299      1  247.5208      1
302      0    0.0000      1
305      2  151.5500      1
307      0  108.9000      1
..     ...       ...    ...
587      1   79.2000      1
588      0    8.0500      1
590      0    7.1250      1
591      0   78.2667      1
592      0    7.2500      1

[230 rows x 10 columns]

 ====================================================================================================================================================================================
     PassengerId  Survived  Pclass  \
594          595         0       2
595          596         0       3
597          598         0       3
599          600         1       1
600          601         1       2
..           ...       ...     ...
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
594                            Chapman, Mr. John Henry    1  37.0      1
595                        Van Impe, Mr. Jean Baptiste    1  36.0      1
597                                Johnson, Mr. Alfred    1  49.0      0
599       Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")    1  49.0      1
600  Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...    0  24.0      2
..                                                 ...  ...   ...    ...
885               Rice, Mrs. William (Margaret Norton)    0  39.0      0
886                              Montvila, Rev. Juozas    1  27.0      0
887                       Graham, Miss. Margaret Edith    0  19.0      0
889                              Behr, Mr. Karl Howell    1  26.0      0
890                                Dooley, Mr. Patrick    1  32.0      0

     Parch     Fare  grupo
594      0  26.0000      2
595      1  24.1500      2
597      0   0.0000      2
599      0  56.9292      2
600      1  27.0000      2
..     ...      ...    ...
885      5  29.1250      2
886      0  13.0000      2
887      0  30.0000      2
889      0  30.0000      2
890      0   7.7500      2

[244 rows x 10 columns]

 ====================================================================================================================================================================================
Archivo creado con éxito en la carpeta "out".

C:\Users\rodri\AppData\Local\Temp/ipykernel_2220/1146091182.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['grupo'] = kmeans.predict(x) #Nombre de la nueva columna donde pondremos nuestra predicción de algoritmo