# Analizando un grupo de datos con K-means

### Importando librerías:

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
print("Librerías descargadas!!")

Librerías descargadas!!

### Importando tabla:

In [5]:
dataset = pd.read_csv('./in/titanic.csv')
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### Limpiando la tabla:

In [6]:
dataset = dataset.drop('Embarked', 'columns')
dataset = dataset.drop('Ticket', 'columns')
dataset = dataset.drop('Cabin', 'columns')
dataset

C:\Users\rodri\AppData\Local\Temp/ipykernel_14288/838869308.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dataset = dataset.drop('Embarked', 'columns')
C:\Users\rodri\AppData\Local\Temp/ipykernel_14288/838869308.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dataset = dataset.drop('Ticket', 'columns')
C:\Users\rodri\AppData\Local\Temp/ipykernel_14288/838869308.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dataset = dataset.drop('Cabin', 'columns')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500

### Tirando filas con datos no numericos para la columna "Age":

In [7]:
dataset = dataset.dropna()
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,29.1250
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500

### Transformando valores de géneros a numéricos, donde 0 es mujer y 1 hombre:

In [8]:
dataset['Sex'] = (dataset['Sex'] == 'male').astype(int)
dataset

C:\Users\rodri\AppData\Local\Temp/ipykernel_14288/557924336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Sex'] = (dataset['Sex'] == 'male').astype(int)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,53.1000
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.0,0,5,29.1250
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,30.0000
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,30.0000
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,7.7500

In [9]:
x = dataset.drop(['Name'], axis=1 )
kmeans = KMeans(n_clusters=4, random_state=1).fit(x) #Usar n_clusters para el númer de grupos deseados, random_state se define con cualquier número para asegurar los mismos resultados
print('='*64)
print('Total de grupos:', len(kmeans.cluster_centers_))
print('='*64)
dataset['grupo'] = kmeans.predict(x) #Nombre de la nueva columna donde pondremos nuestra predicción de algoritmo
dataset.to_csv('./out/groups.csv', index=False, header=True) #Creación de archivo en carpeta destino

grouped_df = dataset.groupby(['grupo']) 

for key, group in grouped_df:  #Muestra cada grupo
    print(grouped_df.get_group(key), "\n\n", '='*180)  

print('Archivo creado con éxito en la carpeta "out".')

================================================================
Total de grupos: 4
================================================================
     PassengerId  Survived  Pclass  \
230          231         1       1
232          233         0       2
233          234         1       3
234          235         0       2
236          237         0       2
..           ...       ...     ...
448          449         1       3
449          450         1       1
450          451         0       2
452          453         0       1
453          454         1       1

                                             Name  Sex   Age  SibSp  Parch  \
230  Harris, Mrs. Henry Birkhardt (Irene Wallach)    0  35.0      1      0
232                     Sjostedt, Mr. Ernst Adolf    1  59.0      0      0
233                Asplund, Miss. Lillian Gertrud    0   5.0      4      2
234             Leyson, Mr. Robert William Norman    1  24.0      0      0
236                             Hold, Mr. Stephen    1  44.0      1      0
..                                            ...  ...   ...    ...    ...
448                Baclini, Miss. Marie Catherine    0   5.0      2      1
449                Peuchen, Major. Arthur Godfrey    1  52.0      0      0
450                         West, Mr. Edwy Arthur    1  36.0      1      2
452               Foreman, Mr. Benjamin Laventall    1  30.0      0      0
453                      Goldenberg, Mr. Samuel L    1  49.0      1      0

        Fare  grupo
230  83.4750      0
232  13.5000      0
233  31.3875      0
234  10.5000      0
236  26.0000      0
..       ...    ...
448  19.2583      0
449  30.5000      0
450  27.7500      0
452  27.7500      0
453  89.1042      0

[179 rows x 10 columns]

 ====================================================================================================================================================================================
     PassengerId  Survived  Pclass                                     Name  \
675          676         0       3           Edvardsson, Mr. Gustaf Hjalmar
676          677         0       3            Sawyer, Mr. Frederick Charles
677          678         1       3                  Turja, Miss. Anna Sofia
678          679         0       3  Goodwin, Mrs. Frederick (Augusta Tyler)
679          680         1       1       Cardeza, Mr. Thomas Drake Martinez
..           ...       ...     ...                                      ...
885          886         0       3     Rice, Mrs. William (Margaret Norton)
886          887         0       2                    Montvila, Rev. Juozas
887          888         1       1             Graham, Miss. Margaret Edith
889          890         1       1                    Behr, Mr. Karl Howell
890          891         0       3                      Dooley, Mr. Patrick

     Sex   Age  SibSp  Parch      Fare  grupo
675    1  18.0      0      0    7.7750      1
676    1  24.5      0      0    8.0500      1
677    0  18.0      0      0    9.8417      1
678    0  43.0      1      6   46.9000      1
679    1  36.0      0      1  512.3292      1
..   ...   ...    ...    ...       ...    ...
885    0  39.0      0      5   29.1250      1
886    1  27.0      0      0   13.0000      1
887    0  19.0      0      0   30.0000      1
889    1  26.0      0      0   30.0000      1
890    1  32.0      0      0    7.7500      1

[181 rows x 10 columns]

 ====================================================================================================================================================================================
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
225          226         0       3
226          227         1       2
227          228         0       3
228          229         0       2
231          232         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    1  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1
2                               Heikkinen, Miss. Laina    0  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1
4                             Allen, Mr. William Henry    1  35.0      0
..                                                 ...  ...   ...    ...
225                       Berglund, Mr. Karl Ivar Sven    1  22.0      0
226                          Mellors, Mr. William John    1  19.0      0
227                    Lovell, Mr. John Hall ("Henry")    1  20.5      0
228                          Fahlstrom, Mr. Arne Jonas    1  18.0      0
231                           Larsson, Mr. Bengt Edvin    1  29.0      0

     Parch     Fare  grupo
0        0   7.2500      2
1        0  71.2833      2
2        0   7.9250      2
3        0  53.1000      2
4        0   8.0500      2
..     ...      ...    ...
225      0   9.3500      2
226      0  10.5000      2
227      0   7.2500      2
228      0  13.0000      2
231      0   7.7750      2

[186 rows x 10 columns]

 ====================================================================================================================================================================================
     PassengerId  Survived  Pclass  \
455          456         1       3
456          457         0       1
458          459         1       2
460          461         1       1
461          462         0       3
..           ...       ...     ...
668          669         0       3
670          671         1       2
671          672         0       1
672          673         0       2
673          674         1       2

                                                  Name  Sex   Age  SibSp  \
455                                 Jalsevac, Mr. Ivan    1  29.0      0
456                          Millet, Mr. Francis Davis    1  65.0      0
458                                Toomey, Miss. Ellen    0  50.0      0
460                                Anderson, Mr. Harry    1  48.0      0
461                                Morley, Mr. William    1  34.0      0
..                                                 ...  ...   ...    ...
668                                    Cook, Mr. Jacob    1  43.0      0
670  Brown, Mrs. Thomas William Solomon (Elizabeth ...    0  40.0      1
671                             Davidson, Mr. Thornton    1  31.0      1
672                        Mitchell, Mr. Henry Michael    1  70.0      0
673                              Wilhelms, Mr. Charles    1  31.0      0

     Parch     Fare  grupo
455      0   7.8958      3
456      0  26.5500      3
458      0  10.5000      3
460      0  26.5500      3
461      0   8.0500      3
..     ...      ...    ...
668      0   8.0500      3
670      1  39.0000      3
671      0  52.0000      3
672      0  10.5000      3
673      0  13.0000      3

[168 rows x 10 columns]

 ====================================================================================================================================================================================
Archivo creado con éxito en la carpeta "out".

C:\Users\rodri\AppData\Local\Temp/ipykernel_14288/3658232010.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['grupo'] = kmeans.predict(x) #Nombre de la nueva columna donde pondremos nuestra predicción de algoritmo